@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #011627;
  color: #ffffff;
  line-height: 1.6;
  position: relative;
  /* Ensure body is relative for absolute positioning */
}

header {
  background-color: rgba(23, 59, 101, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  height: auto;
  z-index: 1000;
}


.education-item {
  background-color: rgba(23, 59, 101, 0.8);
  text-align: left;
}

.header-content {
  /* Adjust padding to create space */
  text-align: center;
  margin-top: 0rem;
  /* Adjust margin to create space */
}

.header-content h1 {
  font-size: 3rem;
  margin: 0px;
  padding: 0%;
}

.header-content p {
  font-size: 1.2rem;
  color: #adb5bd;
}

section {
  padding: 4rem 1rem;
  text-align: center;
}

section h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #FF6B6B;
}

#about {
  margin-top: 8cap;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.author-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
  border: 3px solid #FF6B6B;
  object-fit: cover;
}

.project,
.education-item {
  margin-bottom: 2rem;
  background-color: #1E2A38;
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project:hover,
.education-item:hover {
  transform: scale(1.02, 1.05);
}

.project h3,
.education-item h3 {
  margin-bottom: 1rem;
}

.project p,
.education-item p {
  color: #adb5bd;
}

.education-item {
  position: relative;
  background-color: #1e2a38;
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
  color: #ffffff;
}

.education-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ff6b6b;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.education-link:hover {
  color: #ffc15e;
}

.education-link:hover .fa-arrow-right {
  transform: translateX(5px);
}


.fa-arrow-right {
  transition: transform 0.3s ease;

}

.card {
  background-color: #1e2a38;
  color: #fff;
}


.project a,
.social-links a {
  color: #FF6B6B;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project a:hover,
.social-links a:hover {
  color: #FFC15E;
}

footer {
  background-color: rgba(23, 59, 101, 0.8);
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  /* Ensure footer is relative for absolute positioning */
}

footer .contact-image {
  border-radius: 30%;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
}

footer h2 {
  margin-bottom: 1rem;
}

.social-links a {
  margin: 0 1rem;
  display: inline-block;
}

@media (max-width: 768px) {
  header .navbar-nav .nav-link {
    color: #FF6B6B;
    /* Orange color for links */
  }

  header .navbar-nav .nav-link:hover {
    color: #FFC15E;
    /* Lighter shade of orange on hover */
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 1rem;
  }

  section {
    padding: 2rem 1rem;
  }

  .author-image {
    width: 120px;
    height: 120px;
  }
}

.hidden {
  opacity: 0;
}

.console-container {
  font-family: 'Roboto mono', monospace;
  text-align: center;
  font-size: xx-large;
  height: auto;
  width: 100%;

  /* Adjust for exact centering */
  margin-top: 0px;
  display: block;
  justify-content: center;
  align-items: center;
}

.console-underscore {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  animation: blink 2s infinite;
  /* Add blinking animation */
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* @media (max-width: 479px) {
  .console-container {
    display: none;
  }
} */